---
---

@import "{{ site.theme }}";

ul.version-list li {
    font-size: 24px;
    font-weight: 500;
    color: $section-headings-color;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    list-style-type: circle;
    list-style-position: inside

    border: none;
}

ul.version-list li ul li {
    list-style-type: none;
    list-style-position: inside;

    border: none;

    color: $section-headings-color;
    font-size: 12px;
    font-weight: lighter;
    font-style: italic;
    padding: 0em;
    padding-left: 1em;
    margin: 0em;
}
